CMakeLists.txt
cmake-build-debug/
.idea/
decode/main.c
decode/decode.s
decode/Makefile
strlen/test_strlen.c
strlen/strlen_sse42.h
strlen/Makefile
hamming_distance/test_hamming.c
hamming_distance/Makefile
formulas/Makefile
formulas/main.c